<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Настройки</title>
</head>
<body class="settings app-window">

<nav class="navbar navbar-win-dark app-drag">
    <span class="navbar-text">Настройки подключения</span>
    <div class="app-no-drag d-flex">
        <button class="btn btn-dark app-minimize">
            <i class="bi bi-dash-lg"></i>

        </button>
        <button class="btn btn-dark app-close"><i class="bi bi-x-lg"></i></button>
    </div>
</nav>
<div class="container-md" style="padding-top: 12px; padding-bottom: 12px">
    <main>
        <form class="form needs-validation" novalidate>
            <div class="row g-4">
                <div class="input-group input-group-sm">
                    <button class="btn btn-primary app-choose-cli" type="button">Обзор</button>
                    <input readonly required class="form-control form-control-sm" name="cli" placeholder="AnyConnect CLI path">
                </div>

                <div class="col-6">
                    <div class="form-floating">
                        <input required class="form-control form-control-sm" name="host" placeholder="host">
                        <label>Host</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input required class="form-control form-control-sm" name="group" placeholder="group">
                        <label>Group (optional)</label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating">
                        <input required class="form-control form-control-sm" name="user" placeholder="user">
                        <label>Username</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <div class="form-floating">
                            <input required type="password" class="form-control form-control-sm" name="password" placeholder="password">
                            <label>Password</label>
                        </div>
                        <span class="input-group-text input-type-toggle">
                            <i class="bi bi-eye-slash-fill"></i>
                        </span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating">
                        <select class="form-select form-select-sm" name="algorithm">
                            <option value="sha1">Google Auth</option>
                            <option value="md5">Droid OTP</option>
                        </select>
                        <label>Application</label>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <div class="form-floating">
                            <input required type="password" class="form-control form-control-sm" name="secret" placeholder="secret">
                            <label>Secret</label>
                        </div>
                        <span class="input-group-text input-type-toggle">
                            <i class="bi bi-eye-slash-fill"></i>
                        </span>
                    </div>
                </div>

                <div class="col-3 col-pin" hidden>
                    <div class="input-group">
                        <div class="form-floating">
                            <input required type="password" class="form-control form-control-sm" name="pin" placeholder="pin">
                            <label>Pin</label>
                        </div>
                        <span class="input-group-text input-type-toggle">
                            <i class="bi bi-eye-slash-fill"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="mt-3 d-flex justify-content-end gap-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="autostart" name="autostart">
                    <label class="form-check-label" for="autostart">
                        Запускать при старте системы
                    </label>
                </div>
                <div class="flex-grow-1"></div>
                <button class="btn btn-sm app-close btn-secondary" type="button">Отмена</button>
                <button class="btn btn-sm btn-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </main>
</div>
</body>
</html>
